.carousel-item img{
    position: relative;
    width: auto;
    height: auto;
    opacity: 0.8;
}

.carousel-item h1{
    position: absolute;
}

.carousel-item .hero-h3{
    position: absolute;
    opacity: 0;
    transform: translateX(0px) translateY(-40px) translateZ(0px);
    transition: opacity 500ms ease 0s, transform 500ms ease 0s;
}