/*____________________RESPONSIVE_________________*/

@media only screen and (max-width: 1484px) and (min-width: 1214px) {
	.categories{
    position:relative;
    overflow: hidden;
}

.categories .categories_item{
    position: relative;
    height:auto;
    width: auto;
    display: flex;
    align-items: center;     
              
}

.categories .categories_large_item .card img{     
  opacity: 0.8;
}	

.icon-sm{
  margin-top: 20px;
  margin-left: 80px;

}

.badge{  
  margin-top: 20px;
  margin-left: 80px;
}
}


@media only screen and (max-width: 1214px) and (min-width: 1000px) {

  .icon-sm{
    margin-top: 50px;
    margin-left: 80px;

  }

  .badge{  
    margin-top: 50px;
    margin-left: 80px;
  }

	.categories{
    position:relative;
    overflow: hidden;
}

.categories .categories_item{
    position: relative;
    height:auto;
    width: auto;
    display: flex;
    align-items: center;     
         
}

.categories .categories_large_item .card img{  
  opacity: 0.8;
}	
}

@media only screen and (max-width: 1000px) and (min-width: 700px){	
  .icon-sm{
    padding-top: 0px;
    margin-left: 0px;
  }

  .badge{  
    margin-top: 0px;
    margin-left: 0px;
  }
	
	.categories{
    position:relative;
    overflow: hidden;
}

.categories .categories_item{
    position: relative;
    height:auto;
    width: auto;
    display: flex;
    align-items: center;     
             
}

.categories .categories_large_item .card img{  
  opacity: 0.8;
}

@media only screen and (max-width: 720px) and (min-width: 400px){	 

  .icon-sm{
    padding-top: 0px;
    margin-left: 0px;
  }

  .badge{  
    margin-top: -0px;
    margin-left: 0px;
  }
	
	.categories{
    position:relative;
    overflow: hidden;
}

.categories .categories_item{
    position: relative;
    height:auto;
    width: auto;
    display: flex;
    align-items: center;     
             
}

.categories .categories_large_item .card img{  
  opacity: 0.6;
}

@media only screen and (max-width: 400px) and (min-width: 280px){
  
  .icon-sm{
    padding-top: 0px;
    margin-left: 0px;
  }

  .badge{  
    margin-top: -0px;
    margin-left: 0px;
  }

  .categories{
    position:relative;
    overflow: hidden;
    padding-bottom: 0px;
}

.categories h1{
  margin-bottom: 0px;
  margin-top: 10px;
  font-size: 18px;
  
}

.categories h4{
  font-size: 15px;
}


.categories p{
  font-size: 10px;
}

.categories .categories_item{
    position: relative;
    height:auto;
    width: auto;
    display: flex;
    align-items: left;    
              
}

.categories .categories_large_item {
  height: -300px;
}

.categories .categories_text a {
  font-size: 10px;
  padding-bottom: 10px;
}

.categories .categories_text a:after{
  bottom: 10px;
}

.categories .categories_text p {
  margin-bottom: 0px;
  margin-top: 0px;
}

.categories .categories_large_item .card img{  
  width: auto;
}
}